body {
  margin: 0 auto;
  color: #4a4a4a;
  font-family: 'Playfair Display', serif;
}

h1,
h3 {
  font-family: 'Raleway', sans-serif;
}

/*** Navbar ***/

.navbar-container {
	position: fixed;
	top: 0;
	left: 50%;
	margin-right: 50%;
	transform: translateX(-50%);
	z-index: 10;
	width: 100%;
	height: 9vh;
	background: rgba(255,255,255,0.5);
}

.nav,
.navbar {
	width: 550px;
	margin: auto;
	margin-top: 20px;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 2px;
	list-style: none;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	flex-wrap: nowrap;
}

a {
  position: relative;
	color: #4a4a4a;
	text-decoration: none;
}

.nav-item {
	padding: 5px 0;
}

.nav-item:after {
		content: '\00a0';
		display: block;
		height: 6px;
		width: 85%;
		position: relative;
		top: -8px;
    left: -6px;
		background: transparent;
		transition: top .3s ease-out;
		-webkit-transition: top .3s ease-out;
}

.nav-item:hover:after {
		top: -1px;
		background: #4a4a4a;
}


.nav-item .active {
  z-index: -1;
	background: #cd96a1 !important;
}
.active::after {
  z-index: -1;
	background: #cd96a1 !important;
}

/*** Sections ***/

.section {
  height: 100vh;
}

/*** HOME ***/

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: right;
  font-size: 1.5em;
  position: absolute;
  top: 25%;
  left: 26%;
}

.home-content h1:after {
  content: '\00a0';
  display: block;
  height: 12px;
  width: 40%;
  position: relative;
  top: -16px;
  left: -6px;
  z-index: -1;
  left: 0px;
  background: #cd96a1;
}

.home img {
  position: relative;
  z-index: -1;
  padding-left: 20em;
  height: 100vh;
  margin-top: 0;
}

/*** ABOUT ***/
.about-container {
  max-width: 700px;
  position: absolute;
}

.about h1 {
  position: inherit;
  color: #fff;
  z-index: 1;
  top: 40%;
  left: 35%;
  text-decoration: overline;
  font-size: 2.5em;
}

.square {
  position: relative;
  height: 50vh;
  /* background: #0F233E; */
  background-image: linear-gradient(#173255,#0f233e);
  top: 0;
  left: 10%;
}

.about-content {
  text-align: justify;
  position: relative;
  left: 10%;
  color: #0F233E;
  line-height: 1.75;
  font-size: 1.15em;
}
