body {
  margin: 0 auto;
  color: #4a4a4a;
  font-family: 'Playfair Display', serif;
}

h1,
h3 {
  font-family: 'Raleway', sans-serif;
}

/*** Navbar ***/

.navbar-container {
	position: fixed;
	top: 0;
	left: 50%;
	margin-right: 50%;
	transform: translateX(-50%);
	z-index: 10;
	width: 100%;
	height: 9vh;
	background: rgba(255,255,255,0.5);
}

.nav,
.navbar {
	width: 550px;
	margin: auto;
	margin-top: 20px;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 2px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

a {
  position: relative;
	color: #4a4a4a;
	text-decoration: none;
}

.nav-item {
	padding: 5px 0;
}

.nav-item:after {
		content: '\00a0';
		display: block;
		height: 6px;
		width: 85%;
		position: relative;
		top: -8px;
    left: -6px;
		background: transparent;
		transition: top .3s ease-out;
}

.nav-item:hover:after {
		top: -1px;
		background: #4a4a4a;
}


.nav-item .active {
  z-index: -1;
	background: #cd96a1 !important;
}
.active::after {
  z-index: -1;
	background: #cd96a1 !important;
}

/*** Sections ***/

.section {
  height: 100vh;
}


/*** HOME ***/

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  text-align: right;
  font-size: 1.5em;
  position: absolute;
  top: 25%;
  left: 26%;
}

.home-content h1:after {
  content: '\00a0';
  display: block;
  height: 12px;
  width: 40%;
  position: relative;
  top: -16px;
  left: -6px;
  z-index: -1;
  left: 0px;
  background: #cd96a1;
}

.home img {
  position: relative;
  z-index: -1;
  padding-left: 20em;
  height: 100vh;
  margin-top: 0;
}

/*** ABOUT ***/
.about-container {
  max-width: 700px;
  position: absolute;
}

.about h1 {
  position: inherit;
  color: #fff;
  z-index: 1;
  top: 40%;
  left: 35%;
  text-decoration: overline;
  font-size: 2.5em;
}

.square {
  position: relative;
  height: 50vh;
  /* background: #0F233E; */
  background-image: linear-gradient(#173255,#0f233e);
  top: 0;
  left: 10%;
}

.about-content {
  text-align: justify;
  position: relative;
  left: 10%;
  color: #0F233E;
  line-height: 1.75;
  font-size: 1.15em;
}

/*** PROJECTS ***/
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-headline {
  font-size: 2.75em;
  font-weight: 400;
  height: 70vh;
  margin: 0;
  padding: 0 16px;
  color: #fff;
  text-align: center;
  background-image: linear-gradient(#666,#444);
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.carousel {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 85vw;
  max-height: 70vh;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
}

.carousel-item {
  visibility:visible;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  background-color: #fff;
  flex-shrink: 0;
  position: absolute;
  z-index: 0;
  transition: 0.6s all linear;
}

.carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;
}

.carousel-item__image{
  filter: grayscale(50%);
  width: 70%;
  height: 100%;
  order: 2;
  align-self: center;
  flex-basis: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
}

.carousel-item__image:hover {
  filter: none;
}

.carousel-item--1 .carousel-item__image{
  background-image: url(../assets/turniptracker.png);
}
.carousel-item--2 .carousel-item__image{
  background-image: url(../assets/hop.png);
}
.carousel-item--3 .carousel-item__image{
  background-image: url(../assets/cake.png);
}

.carousel-item__subtitle {
  padding-bottom: 1em;
  letter-spacing: 3px;
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 0;
  font-weight: 600;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.4s all ease-in-out;
}

.carousel-item__title {
  margin: 15px 0 0 0;
  font-size: 2.5em;
  line-height: 45px;
  letter-spacing: 3px;
  font-weight: 700;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel-item__description {
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
  margin-top: 35px;
  font-size: 1em;
  line-height: 22px;
  margin-bottom: 35px;
  text-align: justify;
}


.carousel-item__btn {
  width: 35%;
  letter-spacing: 3px;
  font-size: 0.9em;
  text-transform: uppercase;
  margin: 0;
  width: 35%;
  font-weight: 600;
  text-decoration: none;
  transform: translateY(25%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s all ease-in-out;
}

.carousel__nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: #fff;
  bottom: 0;
}

.carousel__icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  fill: #5d5d5d;
}

.carousel__arrow {
  cursor: pointer;
  display: inline-block;
  padding: 11px 15px;
  position: relative;
}

.carousel__arrow:nth-child(1):after {
  content:'';
  right: -3px;
  position: absolute;
  width: 1px;
  background-color: #b0b0b0;
  height: 14px;
  top: 50%;
  margin-top: -7px;
}

.active-item{
  z-index: 1;
  display: flex;
  visibility:visible;
}

.active-item .carousel-item__subtitle,
.active-item .carousel-item__title,
.active-item .carousel-item__description,
.active-item .carousel-item__btn{
  transform: translateY(0);
  opacity: 1;
  transition: 1s all ease-in-out;
  visibility: visible;
}

.active-item .carousel-item__image{
transition: 1s all ease-in-out;
transform: translateX(0);
}

/*** CONTACT ***/

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact h1:after {
  content: '\00a0';
  display: block;
  height: 8px;
  width: 30%;
  position: relative;
  top: 8px;
  left: 0px;
  z-index: -1;
  left: 0px;
  background: #cd96a1;
}

.contact-text h1 {
  padding-bottom: 1em;
}

ul {
  padding-left: 0;
}

.list-inline {
  text-align: right;
  font-size: 2.5em;
  list-style: none;
}

.list-inline > li {
  display: inline;
  padding: 0 8px;
}

#icon {
  color: #cd96a1;
  opacity: 0.8;
}

#icon:hover {
  opacity: 1;
}

.up-arrow {
  position: relative;
  bottom: -25%;
  font-size: 2em;
  opacity: 0.7;
}

.up-arrow:hover {
  opacity: 1;
}
